@media (min-width:1200px){

}
@media (max-width:1199px){
/*********************************************** home module menu***************************************************/
.module-menu .column{
	padding:0;
}
.module-menu p {
  font-size: 14px;
}
.panel-header a {
    font-size: 18px;
}
.module-menu strong {
    font-size: 24px;
    margin-top:20px;
}
.module-menu  span {
    font-size: 16px;

}
.module-menu img{
   height:90px;
}
.module-menu {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+30,ededed+30,ededed+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 39%, rgba(237,237,237,1) 39%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 39%,rgba(237,237,237,1) 39%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 39%,rgba(237,237,237,1) 39%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}


/*********************************************** home rates section***************************************************/
.home-best-rates .top-wrapper > img {
    right: 12%;
}
.home-best-rates .list-inline > li {
    width: 100px;
}
.home-best-rates .list-inline > li img{
height:50px !important;
width:auto !important;
}
.home-best-rates h3 {
    font-size: 18px;
}
.home-best-rates h1 {
    font-size: 28px;
}


/*********************************************** home country rates section***************************************************/

.home-international-calls h1 {
    font-size: 28px;

}
.home-international-calls p {
    margin-bottom: 20px;
}

/*********************************************** home bundles section***************************************************/
#quicktabs-container-popular_bundles .node-bundles {
width:970px;
}
.home-freecredit-section  .credit-banner{
width:100%;
}
.home-freecredit-section h4 {
    font-size: 22px;
}
.home-freecredit-section span {
    font-size: 18px;
}
.home-freesim-section img {
    position: absolute;
    top: -30px;
    right: 35px;
    height: 110px;
}
.home-freesim-section a {
    font-size: 23px;
    width:auto;
    border-radius: 10px;
}
.vendor-section img{width:100%;}
.home-freesim-section {
    padding-top: 55px;
    padding-bottom: 55px;
}
#footer {
    padding-top: 20px;
    padding-bottom: 20px;

}
}

@media (min-width:992px){

/***********************************************navigation menu***************************************************/
.phone {display:none !important;}
#navbar .nav .dropdown-menu li {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transition: opacity .6s, -webkit-transform .7s;
    -moz-transition: opacity .6s, -moz-transform .7s;
    -ms-transition: opacity .6s, -ms-transform .7s;
    -o-transition: opacity .6s, -o-transform .7s;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#51337b+0,73559d+100 */
	background: rgb(81,51,123); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(81,51,123,1) 0%, rgba(115,85,157,0.9) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(81,51,123,1) 0%,rgba(115,85,157,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(81,51,123,1) 0%,rgba(115,85,157,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51337b', endColorstr='#73559d',GradientType=1 ); /* IE6-9 */
    text-align: left;
}
#navbar .nav li:hover .dropdown-menu {
	max-height:1000px;
}
#navbar .nav .dropdown-menu {
    background:transparent;
	border:0;
	box-shadow: none;
	max-height: 0;
	display: block;
	padding:0;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-top-right-radius:5px;
	
}
#navbar .nav .dropdown-menu li:hover a ,#navbar .nav .dropdown-menu li.active a{
   border-left: 3px solid #72559F; 
    border-radius: 0;
    color: #fff;
	background-color:#512275;
}
#navbar .nav .dropdown-menu li:first-child a {
	border-top-right-radius:3px;
	border-top-left-radius:3px;

}
#navbar .nav .dropdown-menu li:last-child a {
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;

}
#navbar .nav > li:hover .dropdown-menu, #navbar .nav > li:focus .dropdown-menu{
    max-height: 2000px;
    z-index: 10;
}
#navbar .nav > li:hover .dropdown-menu li, #navbar .nav > li:focus .dropdown-menu li {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
	text-align: left;
}
#navbar .nav li:hover .dropdown-menu li:nth-child(1) {
    -webkit-transition-delay: 10ms;
    -moz-transition-delay: 10ms;
    -ms-transition-delay: 10ms;
    -o-transition-delay: 10ms;
    transition-delay: 10ms;
	border-top-right-radius:3px;
	border-top-left-radius:3px;
}
#navbar .nav li:hover .dropdown-menu li:nth-child(2) {
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    -ms-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}
#navbar .nav li:hover .dropdown-menu li:nth-child(3) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
#navbar .nav li:hover .dropdown-menu li:nth-child(4) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}
#navbar .nav li:hover .dropdown-menu li:nth-child(5) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}
#navbar .nav li:hover .dropdown-menu li:nth-child(6) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
}
#navbar .nav li:hover .dropdown-menu li:nth-child(7) {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
#navbar .nav li:hover .dropdown-menu li:nth-child(8) {
    -webkit-transition-delay: 350ms;
    -moz-transition-delay: 350ms;
    -ms-transition-delay: 350ms;
    -o-transition-delay: 350ms;
    transition-delay: 350ms;
}
#navbar .nav li:hover .dropdown-menu li:nth-child(9) {
    -webkit-transition-delay: 400ms;
    -moz-transition-delay: 400ms;
    -ms-transition-delay: 400ms;
    -o-transition-delay: 400ms;
    transition-delay: 400ms;
}
#navbar .nav li:hover .dropdown-menu li:nth-child(10) {
    -webkit-transition-delay: 450ms;
    -moz-transition-delay: 450ms;
    -ms-transition-delay: 450ms;
    -o-transition-delay: 450ms;
    transition-delay: 450ms;
}
#navbar .nav li:hover .dropdown-menu li:last-child{
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
}
#navbar .dropdown-menu li:nth-child(1) {
    -webkit-transition-delay: 45ms;
    -moz-transition-delay: 45ms;
    -ms-transition-delay: 45ms;
    -o-transition-delay: 45ms;
    transition-delay: 45ms;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
}
#navbar .dropdown-menu li:nth-child(2) {
    -webkit-transition-delay: 40ms;
    -moz-transition-delay: 40ms;
    -ms-transition-delay: 40ms;
    -o-transition-delay: 40ms;
    transition-delay: 40ms;
}
#navbar .dropdown-menu li:nth-child(3) {
    -webkit-transition-delay: 35ms;
    -moz-transition-delay: 35ms;
    -ms-transition-delay: 35ms;
    -o-transition-delay: 35ms;
    transition-delay: 35ms;
}
#navbar .dropdown-menu li:nth-child(4) {
    -webkit-transition-delay: 30ms;
    -moz-transition-delay: 30ms;
    -ms-transition-delay: 30ms;
    -o-transition-delay: 30ms;
    transition-delay: 30ms;
}
#navbar .dropdown-menu li:nth-child(5) {
    -webkit-transition-delay: 25ms;
    -moz-transition-delay: 25ms;
    -ms-transition-delay: 25ms;
    -o-transition-delay: 25ms;
    transition-delay: 25ms;
}
#navbar .dropdown-menu li:nth-child(6) {
    -webkit-transition-delay: 20ms;
    -moz-transition-delay: 20ms;
    -ms-transition-delay: 20ms;
    -o-transition-delay: 20ms;
    transition-delay: 20ms;
}
#navbar .dropdown-menu li:nth-child(7) {
    -webkit-transition-delay: 15ms;
    -moz-transition-delay: 15ms;
    -ms-transition-delay: 15ms;
    -o-transition-delay: 15ms;
    transition-delay: 15ms;
}
#navbar .dropdown-menu li:nth-child(8) {
    -webkit-transition-delay: 10ms;
    -moz-transition-delay: 10ms;
    -ms-transition-delay: 10ms;
    -o-transition-delay: 10ms;
    transition-delay: 10ms;
}
#navbar .dropdown-menu li:nth-child(9) {
    -webkit-transition-delay: 5ms;
    -moz-transition-delay: 5ms;
    -ms-transition-delay: 5ms;
    -o-transition-delay: 5ms;
    transition-delay: 5ms;
}
#navbar .dropdown-menu li:nth-child(10) {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
#navbar .navbar-nav > li > a {
	background-color:transparent;
}
.social-media{
display:none;
}
}



@media (max-width:991px){
/********** common **********/
.table_1 > tbody > tr > td {
    font-size: 22px;
}
.table-wrapper h1 {
    font-size: 18px;
}
.table_1 > thead > tr > th {
    font-size: 14px;
}
.table_1 > tbody > tr > td:last-child {
    font-size: 14px;
    font-family: 'helvitca-bold';
    color: #fff;
    text-align: center;
}
/********** end common **********/

.social-media .bottom a{
cursor:pointer;
}
 #navbar .container{
position:relative;
} 
#navbar .navbar-nav {
    margin:0px 0 20px 0;
}
#navbar .navbar-collapse{
position:absolute;
width:100%;	
z-index:999;
top:157px;
max-height:initial;
}
#navbar .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color:#fff;
    border-right: 1px solid #ccc !important;
	border-left: 1px solid #ccc !important;
    box-shadow: none;
	border-radius:0;
}
#navbar .navbar-nav .open .dropdown-menu  li a {
    color: #73559e;
    font-family: 'helvitca-light';
    font-size: 16px;
    border-left: 3px solid transparent;
    padding: 6px 20px;
}
#navbar .navbar-nav .open .dropdown-menu  li a:hover ,#navbar .navbar-nav .open .dropdown-menu  li a.active,#navbar .navbar-nav .open .dropdown-menu  li a:focus{
    color: #fff;
	font-family:'helvitca-bold';
	background:#009fe3 !important;
}
#navbar .navbar-nav  li.open a.active {
    font-family: 'helvitca-bold';
    background:#575756;
}

#navbar .navbar-nav > li > a {
    border-bottom: 1px solid #fff;
    display: block;
    text-align: left;
	color: #fff;
    background: rgba(115,85,159,0.9);
    background: rgba(94,67,131,0.9);
    background: -moz-linear-gradient(left, rgba(94,67,131,1) 0%, rgba(131,106,166,0.9) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(94,67,131,1)), color-stop(100%, rgba(131,106,166,0.9)));
    background: -webkit-linear-gradient(left, rgba(94,67,131,1) 0%, rgba(131,106,166,0.9) 100%);
    background: -o-linear-gradient(left, rgba(94,67,131,1) 0%, rgba(131,106,166,0.9) 100%);
    background: -ms-linear-gradient(left, rgba(94,67,131,1) 0%, rgba(131,106,166,0.9) 100%);
    background: linear-gradient(to right, rgba(94,67,131,1) 0%, rgba(131,106,166,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e4383', endColorstr='#836aa6', GradientType=1 );
}
#navbar .navbar-nav > li.last > a {
    border-bottom:0;
}
#navbar .navbar-collapse.in {
    overflow-y: visible;
}
#navbar .navbar-nav > li > a {
    padding:12px 25px 12px 25px;
}
#top-bar.navbar-inverse .menu > li > a,#top-bar.navbar-inverse .menu > li > a:hover,#top-bar.navbar-inverse .menu > li > a:focus  {
    padding: 3px 15px 3px 15px;
    margin: 0;
	font-size:16px;
}
#top-bar .menu  {
	margin-top:8px;
}
#home_page_slider .nivoSlider{
margin-bottom:0;
}

/*********** module-menu*****************/

.module-menu p {
    margin-bottom:45px;
}
 .column{
margin-bottom:20px;
}
.module-menu {
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 18%, #ededed 18%, #ededed 50%, #ffffff 50%, #ffffff 68%, #ededed 68%, #ededed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 18%,#ededed 18%,#ededed 50%,#ffffff 50%,#ffffff 68%,#ededed 68%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 18%,#ededed 18%,#ededed 50%,#ffffff 50%,#ffffff 68%,#ededed 68%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
padding:0;
}
.panel-header {
    margin-top: 20px;
	margin-bottom:5px;
}
.module-menu p {
    font-size: 15px;
}
/*********** home rates section*****************/

.home-best-rates .top-wrapper > img {
    right: 0;
	height: 56px;
}
.order-section p {
    font-size: 18px;
}
.home-best-rates h3 {
    font-size: 14px;
}
.home-best-rates p {
    font-size:10px;
}
.home-best-rates .list-inline > li img {
    height: 35px !important;
    width: auto !important;
}
.home-best-rates .list-inline > li {
    width: 70px;
}
.home-international-calls .form-item {
    width: 450px;
}
.home-international-calls .form-control {
    font-size: 16px;
	height:32px;
	}
.home-international-calls .form-item::after {
    right: 14px;
    top: 11px;
    border-top: 10px #706e6f solid;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}


.top-bundle-section .field {
    color: #fff;
    font-size: 30px;
    font-family: 'helvitca-bold';
	padding: 2px;
}

.body-bundle-section .field {
 font-size: 24px;
}
.body-bundle-section span {
    font-size: 14px;
}
.bottom-bundle-section span {
    font-size: 12px;
    line-height: 1;
}
#quicktabs-container-popular_bundles .node-bundles {
    width: 750px;
}
#quicktabs-container-popular_bundles  .field-collection-view {
    margin: 0 10px;
}
#quicktabs-container-popular_bundles h2 a {
    color: #29235c;
    font-family: 'helvitca-bold';
    font-size: 24px;
}
.home-popular-bundles .quicktabs-tabs > li > a {
    font-size: 16px;
}
.home-freecredit-section ul li img{
height:105px;
width:auto;
}
.home-freecredit-section h4 {
  font-size: 20px;
}
.home-freecredit-section .list-inline:nth-child(2n+1) > li:last-child {
    width: 120px;
}
.home-freecredit-section .list-inline:nth-child(2n) > li:first-child {
    width: 120px;
}
.home-freecredit-section span {
    font-size: 14px;
}
.home-freecredit-section .list-inline {
    padding-left: 10px;
    padding-right: 10px;

}
.home-freesim-section a {
    font-size: 22px;
    width: 70%;
}
#vendor-section{
    padding: 25px 0 25px 0;
}
.home-freecredit-section .list-inline {
   margin-top: 0;
   margin-bottom: 20px;
}
.free-credit-panel{
margin-top:20px;
}
.home-freesim-section img {
    position: absolute;
    top: -27px;
    right: 25px;
    height: 98px;
}
.home-international-calls p {
    font-size: 16px;

}
.home-topup-section ul li img{
height:120px;
width:auto;
}
.home-topup-section strong {
    font-size: 14px;
}
.home-topup-section span {
    font-size: 12px;
}
.home-topup-section ul > li {
    padding-right: 15px;
    padding-left: 15px;

}
}
@media (max-width:991px) and (min-width:768px){
#navbar .navbar-collapse{
 width: 320px;
 right:15px;
margin-right:-15px;
margin-left:-15px;
}
#navbar .navbar-collapse nav{
 width:100%;
}
#navbar .navbar-nav {
    margin:0px 0 20px 0;
	box-shadow:-5px 1px 8px #575756;
}
}
@media (max-width:767px){
.table_1 > tbody > tr > td:first-child {
    font-size: 14px;
    font-family: 'helvitca-medium';
}
.table_1 > thead > tr > th {
    font-size: 13px;
}
.table_1 > tbody > tr > td {
    font-size: 18px;
}
.table_1 > tbody > tr:first-child > td {
    width: 80px;
}
#navbar .navbar-nav > li > a {
    padding: 10px 25px 10px 25px;
}
#navbar .navbar-nav > li > a {
font-size: 16px;
}
#navbar .navbar-collapse {
    top: 143px;
}
.logo img{
height:65px;
}
#top-bar.navbar-inverse .menu > li > a, #top-bar.navbar-inverse .menu > li > a:hover, #top-bar.navbar-inverse .menu > li > a:focus {
font-size: 15px;
}
#navbar .container > .navbar-collapse{
margin-left:-15px;
margin-right:-15px;
}
.module-menu {
background: transparent; 
/* background: #ededed; 
background: -moz-linear-gradient(top,  #ededed 0%, #ededed 25%, #ffffff 25%, #ffffff 50%, #ededed 50%, #ededed 75%, #ffffff 75%, #ffffff 100%); 
background: -webkit-linear-gradient(top,  #ededed 0%,#ededed 25%,#ffffff 25%,#ffffff 50%,#ededed 50%,#ededed 75%,#ffffff 75%,#ffffff 100%); 
background: linear-gradient(to bottom,  #ededed 0%,#ededed 25%,#ffffff 25%,#ffffff 50%,#ededed 50%,#ededed 75%,#ffffff 75%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 );  */
}
.module-menu strong {
    margin-top: 15px;
}

.module-menu .column {
    padding: 0;
    width: 100%;
	padding:20px 0;
	margin-bottom:0;
}
.module-menu .column:nth-child(odd){
	background:#ededed;
}

.panel-header a {
    font-size: 16px;
}
.module-menu p {
    font-size: 14px;
}
.module-menu img {
    height: 80px;
}
.home-best-rates .top-wrapper > img {
    right: 0;
    height: 45px;
    top: -10px;
}
.home-best-rates h4 {
    font-size: 16px;

}
.table-wrapper .container{
padding:0 30px;
}

#quicktabs-container-popular_bundles .node-bundles {
    width: 100%;
} 
#quicktabs-container-popular_bundles .field-collection-view {
    margin: 0;
	padding:10px 0 0 0;
}
#quicktabs-container-popular_bundles .field-collection-container > .field > .field-items > .field-item {
    width: 100%;
    float: left;
    display: block;
}
#quicktabs-container-popular_bundles .entity-field-collection-item {
    background: #fff;
	display:table;
	height: 110px;
}
.table-wrapper h1 {
    font-size: 18px;
    text-align: center;
}
.home-freecredit-section .list-inline {
width:80%;
margin:0 auto 20px auto;
float:none;
}
.home-freecredit-section .list-inline:nth-child(2n+1) > li {
    float: right;
	text-align:left;
	width: 73%;
}
.home-freecredit-section .list-inline:nth-child(2n+1) > li:last-child {
    float: left;
	width: 27%;
}
.home-freecredit-section .list-inline:nth-child(2n) > li:first-child {
    width: 27%;
}
.home-freecredit-section ul li img {
    height: 95px;
}
.home-freecredit-section .list-inline:nth-child(2n) > li {
   width: 73%;
}
.home-freesim-section img {
 display:none;
}
.home-freesim-section a {
    width: auto;
    text-align: center;
    padding: 8px 45px;
}
.home-best-rates li > span {
    font-size: 30px;
}
.footer .menu > li .caret{
float:right;
font-size: 26px
}
.footer .menu > li{
border-top:1px solid #9680b6;
}
.footer #block-menu-menu-freesim-topup .menu > li:first-child{
border-top:0;
}
.footer .nav > li > a, .footer .nav > li > a:hover, .footer .nav > li > a:focus {
    padding: 6px 15px 8px 15px;
    line-height:normal;
}
.footer .dropdown-menu {
position:relative;
width:inherit;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4f3279+0,73559e+100,73559e+100 */
background: #4f3279; /* Old browsers */
background: -moz-linear-gradient(left,  #4f3279 0%, #73559e 100%, #73559e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #4f3279 0%,#73559e 100%,#73559e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #4f3279 0%,#73559e 100%,#73559e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f3279', endColorstr='#73559e',GradientType=1 ); /* IE6-9 */
float: none;
border:0;
border-radius:0;
box-shadow:initial;
padding-left:45px;
padding-right:45px;
margin:0 -30px;
}
.footer .dropdown-menu a{
    font-size: 14px;
}
 .footer .dropdown-menu a:hover, .footer .dropdown-menu a:focus {
 font-family:helvitca-bold;
 }
 #vectone_copyright_section{
 text-align:center;
 }
 #block-copyright-block-copyright-block {
    float: none;
	font-family:helvitca-regular;
	font-size:14px;
}
#vectone_copyright_section ul li a {
    color: #fff;
	font-family:helvitca-regular;
	font-size:14px;
	padding: 2px 8px;
}
#vectone_copyright_section ul li {
  border-right:1px solid #fff;
}
#vectone_copyright_section ul li:last-child{
  border-right:0;
}
#block-menu-menu-legal-menu-links {
    float: none;
	margin:10px 0 20px 0;
}
.home-topup-section ul > li {
    padding-right: 5px;
    padding-left: 5px;
}
.column .col-xs-6{
display:table-cell;
float:none;
}
.home-best-rates h3 {
    font-size: 18px;
}
.home-best-rates p {
    font-size: 13px;
}
.home-best-rates li > span {
    font-size: 35px;
}
.home-best-rates .list-inline > li img {
    height: 50px !important;
    width: auto !important;
}
.home-best-rates .list-inline > li {
    width: 100px;
}
.home-best-rates h4 span{
display:block;
}
.home-freesim-section a {
    font-size: 18px;
}
.module-menu strong {
    font-size:18px;
    margin-top:15px;
}
.module-menu span {
    font-size: 14px;
}
.module-menu p {
    margin-bottom: 0;
}
}
@media (max-width:570px) and (min-width:480px){
.top-bundle-section {
    width: 100px;
}
.body-bundle-section .field {
    font-size:20px;
}
.body-bundle-section span {
    font-size: 12px;
}
#quicktabs-container-popular_bundles .entity-field-collection-item {
    height: 95px;
}
.body-bundle-section article p {
    text-indent: -5%;
	font-size: 10px;
}
.body-bundle-section .content +.content:before {
font-size:24px;

}
.home-freecredit-section .list-inline {
    width: 90%;
}
.home-freecredit-section .list-inline:nth-child(2n+1) > li {
    width: 70%;
}
.home-freecredit-section .list-inline:nth-child(2n) > li:first-child {
    width: 30%;
}
.home-freecredit-section .list-inline:nth-child(2n) > li {
    width: 70%;
}
.home-international-calls .form-item {
    width: 80%;
}
}
@media (max-width:479px){
.logo img {
    height: 55px;
}
.social-media .fa {
    font-size: 13px;
    padding: 5px;
    width: 22px;
    height: 22px;
}
#top-bar.navbar-inverse .menu > li > a, #top-bar.navbar-inverse .menu > li > a:hover, #top-bar.navbar-inverse .menu > li > a:focus {
    padding: 3px 10px 3px 10px;
    font-size: 12px;
}
.navbar-toggle {
    margin-top: 4px;
    margin-right: 5px;
    margin-bottom: 4px;
}
#navbar .navbar-collapse {
    top: 125px;
}
.module-menu p {
    font-size: 12px;
}
.order-section {
    padding-top: 20px;
}
.home-best-rates .top-wrapper > img {
    right: 0;
	position:relative;
    top: -17px;
}
.home-best-rates {
    padding-top:0;
    padding-bottom: 20px;
}
.home-best-rates h3 {
    font-size: 14px;
	margin-top: 10px;
}
.home-best-rates p {
    font-size: 12px;
}
.home-best-rates .list-inline > li img {
    height: 40px !important;
    width: auto !important;
}
.home-best-rates .list-inline > li {
    width: 93px;
}
.order-section p {
    font-size: 14px;
}
.home-international-calls p {
    font-size: 14px;
}
.home-international-calls .form-item {
    width: 85%;
}
.table_1 > tbody > tr > td:first-child {
display: block;
width: 100%;
text-align:center;
}
.table_1 > tbody > tr > td:last-child {
display: block;
width: 100%;

}
.table_1 > tbody > tr{
display:block;
width:100%;
}
.table_1 > thead > tr > th:empty {
   display:none
}
.table_1  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 0;
    display: inline-block;
    width: 32.33333%;
	text-align:center;
}
.table-wrapper .container {
    padding: 0 20px;
}
.home-popular-bundles {
    padding: 25px 15px 0px 15px;
}
.home-popular-bundles .quicktabs-tabs > li > a {
    margin-bottom: 10px;
	line-height: 1.5;
}
.top-bundle-section .visible-xs {
    display:none !important;
}
.body-bundle-section .visible-xs {
    display:none !important;
}
.top-bundle-section .field {
    color: #fff;
    font-size: 36px;
    font-family: 'helvitca-bold';
}
.body-bundle-section span {
    font-size: 18px;
}
.body-bundle-section .field {
    font-size: 30px;
}
#quicktabs-container-popular_bundles .field-collection-container .field-name-field-bundle-rates {
    padding: 10px;
}
#quicktabs-container-popular_bundles {
    margin: 0 -15px;
}
.home-freecredit-section .list-inline {
    width: 100%;
	margin: 0 auto 15px auto;
}
.home-freecredit-section .list-inline {
    padding-left: 0;
    padding-right: 0;
}
.home-freecredit-section .list-inline:nth-child(2n+1) > li {
    width: 67%;
}
.home-freecredit-section .list-inline:nth-child(2n+1) > li:last-child {
    width: 33%;
}
.home-freecredit-section .list-inline:nth-child(2n) > li {
    width:67%;
}
.home-freecredit-section .list-inline:nth-child(2n) > li:first-child {
    width: 33%;
}

.home-freecredit-section ul li img {
    height: 85px;
}
.home-freecredit-section h4 {
    font-size: 18px;
}
.home-freecredit-section ul:first-child {
    background: #73559e;
	color:#fff;
}
.home-freecredit-section ul:nth-child(2) {
    background: #29235c;
	color:#fff;
}
.home-freecredit-section ul:nth-child(3) {
     background: #009fe3;
	 color:#fff;
}
.home-freecredit-section ul:nth-child(4) {
     background: #878787;
	 color:#fff;
}
.home-freecredit-section .list-inline {
    padding:10px 8px;
}
.home-freesim-section a {
    font-size: 36px;
	padding: 8px 20px;
	line-height:1.2;
}
.home-freesim-section a span{
display:block;
width:100%;
font-size: 18px;
line-height:1.2;
}
.home-freesim-section {
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer .menu > li .caret {
    font-size: 20px;
}
.footer .dropdown-menu a, .footer .dropdown-menu a:hover, .footer .dropdown-menu a:focus {
    font-size: 12px;
}
#vectone_copyright_section ul li a {
    font-size: 12px;
}

}
@media (max-width:767px) and (min-width:480px){

 .bottom-bundle-section, .body-bundle-section {
    float:none;
    width: auto;
    display: table-cell;
	vertical-align: middle;
}
.body-bundle-section .field {
    padding-top: 0;
}
.body-bundle-section article {
  display:table;
  width:100%;
  table-layout:fixed;
}
.body-bundle-section article p {
font-size:12px;
color:#29235c;
font-family: 'helvitca-regular';
margin-top:10px;
}
.body-bundle-section .content {
    line-height: 1;
    display:table-cell;
    width: auto;
	vertical-align:top;
	position:relative;
}
.bottom-bundle-section{
display:none;
}
.top-bundle-section .vectone-customer span{
font-size:10px;
color:#fff;
font-family: 'helvitca-light';
}
.top-bundle-section .vectone-customer{
line-height: 15px;
}
.top-bundle-section .content{
line-height: 1;
}
.top-bundle-section .vectone-customer .field{
font-size:14px;
line-height: 1;
}
.top-bundle-section .field {
padding:0;
}
.body-bundle-section span {
 display:block;
}
.body-bundle-section .field {
 font-size: 22px;
}
.top-bundle-section .field {
 font-size:35px;
}
.body-bundle-section .content +.content:before {
content:'+';
color: #29235c;
font-size: 30px;
font-family: 'helvitca-bold';
position:absolute;
left:-7px;
top:33%;
margin-top:-15px;
}
.top-bundle-section {
    width: 110px;
	float:none;
    display: table-cell;
	vertical-align: middle;
}
.body-bundle-section article p {
    text-indent: -10%;
}
.body-bundle-section .field {
    font-size: 30px;
}
}
@media (min-width:1366px){
 #header_banner.banner-cheapcall-rates > img{
 width:auto;
 }
}